#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

// Menggunakan media query untuk layar yang lebih besar
@media (min-width: 768px) {
  .container {
    // Membatasi lebar maksimum untuk konten di layar besar (misalnya, tablet ke atas)
    max-width: 600px; 
    // Memposisikan konten di tengah layar
    margin: 0 auto; 
    padding-top: 20px;
  }
}